<style>

body {
  font-family: helvetica, sans-serif;
  margin: 0 auto;
  max-width: 600px;
  background: url('https://www.xmple.com/wallpaper/yellow-white-stripes-streaks-lines-5120x2880-c2-ffff00-ffffff-l2-95-95-a-315-f-1.svg');
}

div {
  height: 400px;
  background-size: cover;
  position: relative;
  margin: 40px 0 0 0;
  border-radius: 100px 0 0 0;
  border-top: 30px solid #aaaaaa;
  border-left: 4px solid #aaaaaa;

}

h1 {
  font-family: 'Londrina Shadow', cursive;
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 75px;
  text-shadow:  -1px -1px 0 #000,
		            1px -1px 0 #000,
		            -1px 1px 0 #000,
		            1px 1px 0 #000;
  color: #aaaaaa;
  margin: 60px 0 20 0;
  padding: 0 0 10px 0;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 100px;
}

h2 {
  text-align: right;
  font-family:garamond;
  color: #2e2e1f;
  margin: 0px 0 30px 0;
}

p {
  color: rgba(0,0,0,1);
  background: black;
  background: linear-gradient(bottom, rgba(93,188,210,1), rgba(0,0,0,.6));
  background: -webkit-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,0,.8));
  background: -moz-linear-gradient(bottom, rgba(227,238,32,1), rgba(0,0,0,.4));
    border-top: 10px solid #aaaaaa;
    border-radius: 10px;

  padding: 20px 40px 10px 40px;
  line-height: 28px;
  text-align: justify;
  font-family: garamond;
  font-size: 30;
  position: absolute;
  bottom: 0;
  margin: 20px;
  height: 30px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}

small {
  opacity: 0;
  line-height: 25px;
  font-size: 20;
  }

  footer {
    text-align: center;
    font-family: garamond;
    font-size: 20;
    padding: 30px, 0, 0, 0;
    }

.experience-title {
  line-height: 30px;
  margin-bottom: 400px;
  }

.show-description p {
  height: 150px;
}

.show-description small {
  opacity: 1;
}

.first{
  background-image: url("http://i.imgur.com/K1Bbc7S.jpg");
}

.second{
  background-image: url("http://i.imgur.com/ig9M7mo.jpg");
}

.dessert{
  background-image: url("http://i.imgur.com/pHwkmPt.jpg");
}

.price {
  float: right;
  line-height: 30px;
}
.contact {
  height: 50px;
  margin:  60px 0 0 0;
  padding: 40px 0 0px 0px;
  background: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 100px 100px 0 0;
  }

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  }

@media (max-width: 500px) {
  h1 {
    padding: 10px 0 10px 0;
    font-size: 40px;
    margin-top: 20px;
    line-height: 40px;
  }

  h2 {
    font-size: 20px;
    margin: 20px 0 30px 0;
  }

  div {
    height: 200px;
    margin: 20px 12px 0 12px;
  }

  p {
    font-size: 20px;
    line-height: 24px;
    padding: 0 10px 10px 10px;
    text-align: left;
    margin: 10px;
  }

  small {
    font-size: 16px;
  }

  footer {
    font-size: 17;
    }

    .contact {
  height: 50px;
  margin: 30px 0 0 0;
  padding: 30px 0 0px 0px;
  border-radius: 80px 80px 0 0;
  }
}

</style>
